:root {
  --color-error:#dc3545;
  --color-warning:#ffc107;

  --color-skill-basic:#07e2ff;
  --color-skill-intermediary:#ffc107;
  --color-skill-advanced:#72db52;

  --dark-color-background:#181818;
  --dark-color-button-border:#686868;
  --dark-color-text-primary:#eeeeee;
  --dark-color-text-secondary:#b8b8b8;
  --dark-color-heading:#b286ff;
  --dark-color-card-background:#000000;
  --dark-color-navbar-background:#000000;
  --dark-color-navbar-border:#464646;
  --dark-color-overlay:#000000cc;
  --dark-color-item-background-highlight:#444444;
  --dark-color-link:#b286ff;
  --dark-color-link-hover:#8c4aff;
  --dark-color-card-border:#833dfd;

  --light-color-background:#fafafa;
  --light-color-button-border:#bbbbbb;
  --light-color-text-primary:#000000;
  --light-color-text-secondary:#525252;
  --light-color-heading:#008eec;
  --light-color-card-background:#ffffff;
  --light-color-navbar-background:#ffffff;
  --light-color-navbar-border:#dfdfdf;
  --light-color-overlay:#ffffffe0;
  --light-color-item-background-highlight:#dddddd;
  --light-color-link:#008eec;
  --light-color-link-hover:#44b4ff;
  --light-color-card-border:#0099ff;

  --font-size-default:0.98em;
  --font-size-button-default:0.9em;
  --font-size-navbar-default:1em;

  --font-size-mobile:0.9em;
  --font-size-button-mobile:1em;
  --font-size-navbar-mobile:1.1em;

  --font-size-input: 1em;
}

:root {
  --font-size-navbar: var(--font-size-navbar-default);
  --font-size: var(--font-size-default);
  --font-size-button: var(--font-size-button-default);

  --color-button:var(--light-color-text-primary);
  --color-button-background:var(--light-color-navbar-background);
  --color-button-background-highlight:var(--light-color-item-background-highlight);
  --color-button-border:var(--light-color-button-border);

  --color-background:var(--light-color-background);
  --color-card-background:var(--light-color-card-background);
  --color-card-border:var(--light-color-card-border);

  --color-text-primary:var(--light-color-text-primary);
  --color-text-secondary:var(--light-color-text-secondary);
  --color-heading:var(--light-color-heading);

  --color-navbar-background:var(--light-color-navbar-background);
  --color-navbar-border:var(--light-color-navbar-border);
  --color-navbar-item:var(--light-color-text-primary);

  --color-overlay:var(--light-color-overlay);
  --color-item-background-highlight:var(--light-color-item-background-highlight);

  --color-link:var(--light-color-link);
  --color-link-hover:var(--light-color-link-hover);
}

@media (prefers-color-scheme:dark) {
  :root {
    --color-button:var(--dark-color-text-primary);
    --color-button-background:var(--dark-color-navbar-background);
    --color-button-background-highlight:var(--dark-color-item-background-highlight);
    --color-button-border:var(--dark-color-button-border);

    --color-background:var(--dark-color-background);
    --color-card-background:var(--dark-color-card-background);
    --color-card-border:var(--dark-color-card-border);

    --color-text-primary:var(--dark-color-text-primary);
    --color-text-secondary:var(--dark-color-text-secondary);
    --color-heading:var(--dark-color-heading);

    --color-navbar-background:var(--dark-color-navbar-background);
    --color-navbar-border:var(--dark-color-navbar-border);
    --color-navbar-item:var(--dark-color-text-primary);

    --color-overlay:var(--dark-color-overlay);
    --color-item-background-highlight:var(--dark-color-item-background-highlight);

    --color-link:var(--dark-color-link);
    --color-link-hover:var(--dark-color-link-hover);
  }
}

@media (max-width: 700px) {
  :root {
    --font-size: var(--font-size-mobile);
    --font-size-button: var(--font-size-button-mobile);
    --font-size-navbar: var(--font-size-navbar-mobile);
  }
}

@media print {
  :root {
    --color-background:#ffffff;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}